<div class="card">
    <h2>Who I am</h2>
    <p>
        I'm Adam – Java Backend Developer specializing in
        Spring Boot, Microservices, Kafka, and Docker.
    </p>
</div>

<br/>

<div class="card">
    <h2>What I do</h2>
    <p>
        I build scalable backend systems and modern web applications.
    </p>
</div>

<br/>

<div class="card">
    <h2>Tech stack</h2>
    <p>
        Java, Spring Boot, Spring Security, Hibernate, Kafka,
        Docker, SQL, Maven, GitHub actions, JUnit, and other related technologies.
    </p>
</div>

<br/>

<div class="card">
    <h2>Architecture interests</h2>
    <p>
        Microservices, Kafka, CQRS, Event Sourcing patterns, and Domain-Driven design.
    </p>
</div>

<br/>

<div class="card">
    <h2>Beyond coding</h2>
    <p>
        Coffee enthusiast, system design nerd, LeetCode rising star.
    </p>
</div>

<br/>

<div class="card">
    <h2>My key rule</h2>
    <p>
        Simple solutions scale better than complicated ones.
        Build, measure, improve & KISS (
        <u><strong>K</strong></u>eep
        <u><strong>I</strong></u>t
        <u><strong>S</strong></u>imple
        <u><strong>S</strong></u>tupid ).
    </p>
</div>